* {
  margin: 0px;
  font-family: Arial;
  border: border-box;
}
/* navbar */
body {
  width: 100vw;
  overflow-x: hidden;
}
.nevbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* box1 */
.nav-logo {
  height: 50px;
  width: 10vw;
}
.logo {
  background-image: url(logo.png);
  background-position: center;
  height: 48px;
  background-size: cover;
}
/* hover  */
.border {
  border: 1.5px solid transparent;
}

.border :hover {
  border: 1.5px solid white;
}

/* box2 */
.add-first {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 1rem;
}
.add-sec {
  font-size: 1rem;
  margin-left: 3px;
}
.add-icon {
  display: flex;
  align-items: center;
}
/* box3 */
.nav-search {
  width: 55vw;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  background-color: #febd68;
  border-radius: 4px;
}
.search-sleact {
  background-color: #f3f3f3;
  width: 50px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  text-align: center;
  border: none;
}
.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
}
.search-icon {
  width: 3.5vw;
  display: flex;
  justify-content: center;
  align-self: center;
  color: #0f1111;
  font-size: 1.2rem;
}
.nav-search:hover {
  border: 3px solid #d28219;
}
/* box4 */
.nav-flag {
  margin-left: 10px;
  width: 4.5vw;
  height: 40px;
  border: none;
  display: flex;
}
.flag {
  background-image: url(flag.jpeg);
  background-size: cover;
  background-position: center;
  height: 16px;
  width: 22px;
  position: relative;
  top: 20px;
}
.select-flag {
  text-decoration: solid;
  margin-left: 1px;
  background-color: #0f1111;
  color: white;
  text-align: center;
  height: 20px;
  position: relative;
  top: 20px;
  border: none;
}
/* box5 */
.nav-signin {
  width: 150px;
}
.first-signin {
  margin-left: 3px;
  font-size: 0.7rem;
}
.signin-account {
  border: none;
  background-color: #0f1111;
  color: white;
  font-size: 1rem;
  font-weight: 700;
}
/* box6 */
.order-return {
  margin-left: 3px;
  width: 70px;
}
/* box7 */
.nav-cart i {
  font-size: 35px;
}
.nav-cart {
  font-size: 0.85rem;
  font-weight: 700;
  margin-right: 5px;
}

/*<----------------- nav-shop -------------->*/
.panal {
  background-color: #232f3e;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  color: white;
  align-items: center;
}
.panal-all {
  width: 60px;
  margin-left: 20px;
  font-size: 1rem;
  font-weight: 700;
}
.panal-ops p {
  display: inline;
  margin-right: 15px;
}
.panal-ops {
  width: 97%;
  display: flex;
  font-size: 0.85rem;
}
/*<----------------- hero-section -------------->*/
.hero-section {
  background-image: url(king_image.jpg);
  background-size: cover;
  height: 308px;
  color: white;
}
.hero-message {
  background-color: #f5f6f6;
  color: black;
  height: 40px;
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  position: relative;
  top: 250px;
  left: 1%;
}
.hero-message a {
  text-decoration: none;
  color: #007185;
}
.leftarrow {
  font-size: 3rem;
  position: absolute;
  top: 190px;
  left: 15px;
}
.rightarrow {
  font-size: 3rem;
  position: absolute;
  top: 190px;
  right: 15px;
}
/*<----------------- main-contant -------------->*/
.contant {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e2e7e6;
  flex-grow: 1;
}
.contant-box {
  height: auto;
  background-color: white;
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}
.products-type {
  margin: 1rem 0px 0px 1rem;
  font-size: 1.1vw;
  color: #0f1111;
}
.shop-now {
  margin: 0.5rem 1rem 0.5rem 1rem;
}
.shop-now a {
  color: #007185;
  text-decoration: none;
  font-size: 1vw;
}
.image {
  background-size: cover;
  background-position: center;
  margin: 0.75rem 1rem 0px 1rem;
  height: 20vw;
  width: 20vw;
}

/*<------------- .last-containoer ----------->*/
.last-containoer {
  height: 150px;
}
.containoer-border {
  height: 125px;
  border: 2px solid rgb(235, 220, 220);
  margin: 40px 0px 20px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containoer-border a {
  color: #007185;
  text-decoration: none;
}
.containoer-border button {
  width: 230px;
  height: 28px;
  background-color: #ffcc00;
  border-radius: 5px;
  color: #000000;
  font-weight: 700;
  font-size: 12px;
}
.containoer-border-p1 {
  font-size: 13px;
  margin-bottom: 2px;
}
.containoer-border-p2 {
  font-size: 11px;
  margin-top: 2px;
}
/*<----------------- footer-nav -------------->*/

/*<----------------- Back-to-top -------------->*/
.back-to-top {
  height: 50px;
  background-color: #37475a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.8rem;
}
/*<----------------- footer-part 1 -------------->*/
.footer-part1 {
  width: 100vw;
  background-color: #222f3d;
  display: flex;
  justify-content: center;
}
.footer-info {
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.footer-info a {
  text-decoration: none;
  color: #dddddd;
  font-size: 0.85rem;
  margin-top: 0.7rem;
}
.footer-info p {
  font-size: 1rem;
  font-weight: 700;
}
/*<----------------- footer-extra -------------->*/
.footer-extra {
  height: 120px;
  background-color: #222f3d;
  border-top: 0.5px solid rgb(89, 87, 87);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-logo {
  background-image: url(logo.png);
  background-size: cover;
  height: 7vw;
  width: 20%;
  margin-right: 3%;
}
.button-english {
  width: 10vw;
}
.button-doller {
  width: 12vw;
}
.button-united-state {
  width: 12vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-flag {
  background-image: url(flag.jpeg);
  background-size: cover;
  height: 12px;
  width: 18px;
  margin-right: 2%;
}
.common-in-extra {
  margin-right: 8px;
  background-color: #232f3e;
  height: 35px;
  font-size: 0.8rem;
  background-color: none;
  border-radius: 3px;
  border: 0.1px solid rgb(170, 163, 163);
  color: rgb(170, 163, 163);
}
/*<----------------- footer-part 2 -------------->*/
.footer-part2 {
  background-color: #131a22;
  align-items: center;
  justify-content: center;
}
.header-moreinfo-table {
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-body {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.table-row {
  display: flex;
  justify-content: space-around;
}
.table-row td {
  width: 8.5rem;
  line-height: 80%;
}
.table-body a {
  text-decoration: none;
  color: rgb(170, 163, 163);
  font-size: 0.7rem;
}
.table-body p {
  font-size: 0.7rem;
  color: #dddddd;
}

/*<----------------- copy-right-botom -------------->*/
.botom {
  text-align: center;
  margin-top: 1.5rem;
  padding-bottom: 1rem;
}
.botom a {
  text-decoration: none;
  color: rgb(170, 163, 163);
  font-size: 13px;
  font-weight: 600;
}
